
<section class="main">
    <h1>Dinobags</h1>
    <%= image_tag "money_dinosaur.png", alt: "Dinosaur leaping for money", class: "logo" %>
    <form action="/auth/hackclub" method="post" data-turbo="false">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <button type="submit">log in with hack club?</button>
        </form>
    <p>so far we've transferred <%= number_to_currency(@total_transferred) %> across <%= @total_txns %> transactions!</p>
</section>
